.jumbotron {
  margin: 0;
  padding: 2em;
  min-height: calc(100% - 3.5em);
  height: fit-content;
}
.jumbotron > .bi {
  width: 100%;
  margin-top: auto;
  height: calc(100vh - 11em);
}
.jumbotron > .alert + .bi {
  height: calc(100vh - 15em);
}

.alert {
  display: flex;
  align-items: center;
}
.alert .bi + span {
  margin-left: 1em;
}

.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-brand > .bi {
  width: 1.2em;
  height: 1.2em;
}

.navbar-brand > .bi + span {
  margin-left: 0.5em;
}

.input-group-text > .bi {
  width: 1.4em;
  height: 1.4em;
}

iframe.form-control {
    min-height: 40vh;
    height: calc(100vh - 30em);
}

.full-page {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.full-page>.bi {
  width: 100%;
  height: 100%;
}